.menu-menu {

	&.sc-pd {
		padding-top: 80px;
		padding-bottom: 0px;
	
		@include media ('<desktop_lg') {
			padding-top: 60px;
		}
	
		@include media ('<tb') {
			padding-top: 40px;
		}
	}

	@include media ('<desktop_lg') {
		display: none;
	}

	.menu__bot-item {
		padding: 0 13px 0;
	}

	.menu__top-list {
		margin: 0 -32.5px 182px;
	}
}

.menu-price {
	background: url('/images/concept/concept-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.section-title {
		font-size: 36px;
		line-height: 52px;

		margin-bottom: 80px;

		@include media ('<desktop_lg') {
			margin-bottom: 60px;
			font-size: 28px;
			line-height: 40px;
		}

		@include media ('<dt-min') {
			margin-bottom: 60px;
			font-size: 26px;
			line-height: 37px;
		}

		@include media ('<tb') {
			margin-bottom: 40px;
			font-size: 24px;
			line-height: 34px;
		}
	}

	.block-title {
		color: $denim;
	}

	.mr30 {

		@include media ('<tb') {
			margin-bottom: 10px;
		}
	}

	.hr {
		background-color: $oat;
		width: 100%;
		margin: 40px 0;
		height: 2px;

		&:last-child {
			margin: 40px 0 0 0;

			@include media ('<desktop_lg') {
				margin: 30px 0 0 0;
			}
		
			@include media ('<tb') {
				margin: 20px 0 0 0;
			}
		}

		@include media ('<desktop_lg') {
			margin: 30px 0;
		}
	
		@include media ('<tb') {
			margin: 20px 0;
		}
	}

	&__list {
		max-width: 700px;
		margin: 0 auto;
	}

	&__item {
		border-bottom: 2px solid $oat;
		padding-bottom: 40px;

		@include media ('<desktop_lg') {
			padding-bottom: 30px;
		}

		@include media ('<tb') {
			padding-bottom: 20px;
		}
	}

	&__item-left--min {
		font-size: 16px;
		line-height: 23px;
		font-weight: 400;
	}

	&__item-row {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}