/* app */

.app {
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 1px;

  &__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
  }

  &__subtitle {
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
  }
}

body.lock {
	overflow: hidden;

	.header__hide {
		display: none;
	}
}

.img-bg {

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		left: -10px;
		width: 100%;
		height: 100%;
		background-image: url('/images/concept/concept-img-bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include media ('<desktop_lg') {
			top: 8px;
			left: -8px;
		}

		@include media ('<dt-min') {
			top: 6px;
			left: -6px;
		}

		@include media ('<tb') {
			top: 4px;
			left: -4px;
		}
	}
}

.sc-pd {
	padding-top: 80px;
	padding-bottom: 80px;

	@include media ('<desktop_lg') {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include media ('<tb') {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.b {
	font-weight: 700;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.top-all {
	background: url('/images/concept/concept-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	@include media ('<tb') {
		background-size: auto;
	}

	&__row {
		display: flex;
		position: relative;
		align-items: flex-start;
		overflow: hidden;
	}

	&__welcome {
		width: 260px;
		height: 440px;
		background-color: #1A2E53;

		@include media ('<desktop_lg') {
			width: 184px;
			height: 380px;
		}

		@include media ('<dt-min') {
			width: 144px;
			height: 320px;
		}

		@include media ('<tb') {
			width: 53px;
			height: 220px;
		}
	}

	&__image-wrap {
		width: calc(100% - 260px);
		height: 500px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.2);
		}

		@include media ('<desktop_lg') {
			height: 440px;
			width: calc(100% - 184px);
		}
	
		@include media ('<dt-min') {
			height: 380px;
			width: calc(100% - 144px);
		}
	
		@include media ('<tb') {
			height: 260px;
			width: calc(100% - 53px);
		}
	}

	&__image {
		position: relative;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			object-fit: cover;
			object-position: center;
			font-family: 'object-fit: cover; object-position: center;';
		}
	}

	&__logo {
		position: absolute;
		top: 144px;
		left: 238px;
		z-index: 2;
		max-width: 380px;
		width: 100%;

		svg,path {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include media ('<=dt-min') {
			max-width: 402px;
			top: 112px;
			left: 104px;
		}

		@include media ('<=tb') {
			max-width: 299px;
			left: 91px;
		}

		@include media ('<tb') {
			max-width: 170px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.red {
	color: red;
}

.breadcrumb {

	&__list {
		background: url('/images/concept/concept-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		display: flex;
		padding-top: 10px;
		padding-left: calc(390 * 100% / 1920);

		@include media ('<desktop_lg') {
			display: none;
		}
	}

	&__list-item {
		position: relative;
		margin-right: 10px;

		&:last-child {
			margin-right: 0px;

			&:after {
				display: none;
			}

			.breadcrumb__list-link {
				color: $royal;
				border-bottom: 1px solid $royal;
			}
		}

		&:after {
			content: '/';
			position: absolute;
			right: -7px;
			top: 50%;
			color: $aegean;
			transform: translateY(-50%);
		}
	}

	&__list-link {
		font-size: 12px;
		line-height: 17px;
		color: $aegean;
		transition: .4s;

		@at-root :root.hover &:hover{
			color: $royal;
		}
	}

}

.scroll-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 100px;
	height: 100px;
	z-index: 49;
	cursor: pointer;
	display: none;

	&.scroll-top--active {
		display: block;
		animation: scroll-top-anim .5s;
	}

	@include media ('<desktop_lg') {
		width: 75px;
		height: 75px;
	}
	
	@include media ('<tb') {
		width: 50px;
		height: 50px;
	}

	@at-root :root.hover &:hover{
		.scroll-bg {
			transform: rotate(180deg);
		}
	}

	.scroll-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: .4s;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.scroll-arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include media ('<tb') {
			width: 8px;
		}

		svg,path {
			display: block;
			width: 100%;
		}
	}
}

.strike {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		border: 1px solid $cream;
	}

	@include media ('<tb') {
		font-size: 14px;
		line-height: 20px;
	}
}

.simplebar-scrollbar::before {
	background-color: #FFDC98;
}

@keyframes scroll-top-anim{
	0%{right: -100%;}
	100%{right: 20px;}
}


.swiper-container {
	width: calc(100% - 260px);
	height: 720px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	@include media ('<desktop_lg') {
		height: 660px;
		width: calc(100% - 184px);
	}

	@include media ('<dt-min') {
		height: 620px;
		width: calc(100% - 144px);
	}

	@include media ('<tb') {
		height: 360px;
		width: calc(100% - 53px);
	}
}

.swiper-slide-image {
	position: relative;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
		font-family: 'object-fit: cover; object-position: center;';

		@include media ('<tb') {
			object-position: 25%;
		}
	}
}

.swiper-pagination-bullets {
	top: auto !important;
	transform: none !important;
	bottom: 0;
	right: 29px !important;
	left: auto !important;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	display: -ms-flexbox;
	-ms-flex-direction: column;

	@include media ('<desktop_lg') {
		right: 15px !important;
	}

	@include media ('<tb') {
		right: 17px !important;
		bottom: 17px;
	}
}

.swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	transform: rotate(-45deg);
	border-radius: 0;
	background: #fff;
	margin-bottom: 40px !important;

	@include media ('<desktop_lg') {
		margin-bottom: 30px !important;
		width: 12px;
		height: 12px;
	}

	@include media ('<dt-min') {
		margin-bottom: 24px !important;
		width: 10px;
		height: 10px;
	}

	@include media ('<tb') {
		margin: 0 0px 13px 0px !important;
		width: 8px;
		height: 8px;
	}
}
